<html>

<head>
  <meta charset="utf-8">
  <title>Random Twitter Images</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

<!-- Include KillerCarousel CSS -->
<link href="/static/styles/killercarousel.css" type="text/css" rel="stylesheet" />

<!-- Include KillerCarousel JavaScript -->
<script type="text/javascript" src="/static/js/killercarousel.js"></script>

        <!-- Styles for the Carousel -->
        <style type = "text/css">
            
            /* CSS for images inside item wrapper */
            .kc-item img {
                position:absolute;
                pointer-events: none;   /* Make images non-selectable. */
                width:100%;             /* Make images expand to wrapper size (used in 2d modes). */
            }
        .image{position:relative}
        .png-over{position:absolute; bottom:+50px; left:+400px}
        body {
            background-image: url('../static/images/hp-leadspace-redefine-text-lg.png'), url("../static/images/hp-leadspace-redefine-lg.jpg");
            background-repeat:no-repeat;
            background-position: 50% 50%, 50% 50%;
            background-color: black;
        }

        </style>


        <script type = "text/javascript">
            $(function() {
                $('#kc1').KillerCarousel({
                    // Width of carousel.
                    width: 800,
                    // Item spacing in 3d (CSS3 3d) mode.
                    spacing3d: 120,    
                    // Item spacing in 2d (no CSS3 3d) mode. 
                    spacing2d:100,
                    // Path to images for shadows etc.
                    //imagePath: "/sites/starplugins/js/killercarousel/",
                    showShadow: false, 
                    showReflection: false,
                    // Looping mode.
                    infiniteLoop: true,
                    // Scale at 75% of parent element.
                    autoScale: 100,
                    autoChangeDirection: 1,  
                    autoChangeDelay: 1400,
                    renderer3d: null,
                    renderer2d: 'render2dFlow',
                    itemAlign: 'middle'

                });
                $('#kc2').KillerCarousel({
                    // Width of carousel.
                    width: 800, 
                    // Item spacing in 3d (CSS3 3d) mode.
                    spacing3d: 120,    
                    // Item spacing in 2d (no CSS3 3d) mode. 
                    spacing2d:100,
                    // Path to images for shadows etc.
                    //imagePath: "/sites/starplugins/js/killercarousel/",
                    showShadow: false, 
                    showReflection: false,
                    // Looping mode.
                    infiniteLoop: true,
                    // Scale at 75% of parent element.
                    autoScale: 100,
                    autoChangeDirection: -1,  
                    autoChangeDelay: 1400,
                    renderer3d: null,
                    renderer2d: 'render2dFlow',
                    itemAlign: 'middle'                    

                });
/*
                $('#kc3').KillerCarousel({
                    // Width of carousel.
                    width: 800, 
                    // Item spacing in 3d (CSS3 3d) mode.
                    spacing3d: 120,    
                    // Item spacing in 2d (no CSS3 3d) mode. 
                    spacing2d:100,
                    // Path to images for shadows etc.
                    //imagePath: "/sites/starplugins/js/killercarousel/",
                    showShadow: false, 
                    showReflection: false,
                    // Looping mode.
                    infiniteLoop: true,
                    // Scale at 75% of parent element.
                    autoScale: 100,
                    autoChangeDirection: 1,  
                    autoChangeDelay: 1400,
                    renderer3d: null,
                    renderer2d: 'render2dFlow',
                    itemAlign: 'middle'                    

                });
*/
            });
        </script>


</head>

<body>
  <div class="container">

    <div id = "kc1" class = "kc-wrap" >
        {% for url in urls %}
          <div class="kc-item">
              <img src='{{ url }}'>
          </div>
        {% endfor %}
    </div>





    <div class="row">
      <div class="col-md-12">
        <p class="text-center">by matt cowger (<a href="http://twitter.com/mcowger">@mcowger</a>) and jonas rosland (<a href="http://twitter.com/virtualswede">@virtualswede)</a></p>
      </div>
    </div>
  </div>





</body>

</html>